In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [8]:
df12=pd.read_csv('Real estate.csv')

In [9]:
df12.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [10]:
df12.shape

(414, 8)

In [11]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
No                                        414 non-null int64
X1 transaction date                       414 non-null float64
X2 house age                              414 non-null float64
X3 distance to the nearest MRT station    414 non-null float64
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null float64
X6 longitude                              414 non-null float64
Y house price of unit area                414 non-null float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [12]:
df.isnull().any()

NameError: name 'df' is not defined

In [ ]:
df12.corr()

In [ ]:
sns.heatmap(df.corr(), annot=True,cmap='Blues');

# EDA

In [ ]:
sns.pairplot(df12);

#  ðŸ“ˆ Training a Linear Regression Model

 # X and y arrays

In [ ]:
target='Y house price of unit area'
X=df12.drop('Y house price of unit area', axis=1)

y=df12['Y house price of unit area']

In [ ]:
print("X=",X.shape,"\ny=", y.shape)

# ðŸ§± Train Test Split
Now let's split the data into a training set and a testing set. We will train out model on the training set and then use the test set to evaluate the model.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

# Linear Regression

#Training

In [ ]:
Lr_model=LinearRegression()

#Fit

In [ ]:
Lr_model.fit(X_train, y_train)

#Prdiction

In [ ]:
Lr_Prediction=Lr_model.predict (X_test)

In [ ]:
data_dict = {
    "prediction": Lr_Prediction,
    "actual_value": y_test,
    "residual": y_test - Lr_Prediction
}

In [ ]:
residual_df12 = pd.DataFrame(data_dict)

In [ ]:
residual_df12.head()

In [ ]:
# Function that predict:
def make_prediction(No, X1_transaction_date, X2_house_age, X3_distance_to_the_nearest_MRT_station, X4_number_of_convenience_stores, X5_latitude, X6_longitude):
    data = {
        'No': No,
        'X1_transaction_date': X1_transaction_date,
        'X2_house_age': X2_house_age,
        'X3_distance_to_the_nearest_MRT_station': X3_distance_to_the_nearest_MRT_station,
        'X4_number_of_convenience_stores': X4_number_of_convenience_stores,
        'X5_latitude': X5_latitude,
        'X6_longitude': X6_longitude 
    }
    df12 = pd.DataFrame(data, index=[0])
    prediction = Lr_model.predict(df12).round(2)[0]
    return f"house price of unit area: ${prediction}"

In [ ]:
make_prediction(3, 2013.583, 13.3, 561.9845, 5, 24.98746, 121.54391)

In [ ]:
df12.iloc[2:4]

# Model Evaluation

In [ ]:
model.coef_

In [ ]:
pd.DataFrame(model.coef_, X.columns, columns=['Coedicients'])

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [ ]:
MAE

In [ ]:
MSE

In [ ]:
RMSE

In [ ]:
df12['X4 number of convenience stores'].mean()

In [ ]:
test_residual= y_test - y_pred

In [ ]:
sns.scatterplot(x=y_test, y=test_residual)

plt.axhline(y=0, color='r', ls='--');

Residual plot shows residual error VS. true y value.

* **Residualplot showing a clear pattern, indicating Linear Regression not valid!**